.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.link {
    text-decoration: none;
    color: black;

    &:visited {
        color: black;
    }

    &:hover {
        color: #2d6ff7;
        text-decoration: none;
    }

}

a.active{
    color: #2d6ff7;
    text-decoration: none;
  }
