body{
  background-color: #f2f2f2;
  line-height: 22px;
  font-size: 13px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 320px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-template-areas:
  "header header"
  "nav content";

  &-content{
    grid-area: content;
    background-color: #ffffff;
  }
}






